body {
    background-color: #ffffff;
}
:root {
    --main-radius:5px;
    --main-padding:5px;
}
.menu ul li{
    display: inline;
}
.menu ul {
    list-style-type: circle;
    padding: 2px;
    margin: 2px;
    text-align: center;
}
.menu {
    padding: 20px;
}
.menu ul li a{
   text-decoration: none;
   text-shadow: 0px 1px 3px black;
   color: rgba(255, 255, 255, 0.942);
   padding: 5px 20px; 
   font-family:Verdana, Geneva, Tahoma, sans-serif
}
.menu li a{
    transition: 0.3s;
    opacity: 0.7;
}
.menu li a:hover {
    opacity: 1;
}
.active {
    opacity: 1;
    background-color :rgb(0, 0, 0)
}
.container {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
    box-sizing: border-box;
}

p {
    font-size: 12;
    font-weight: 400;
    font : 'Calibri';
    padding : 1%;  
}

h2 {
    padding: 1%;
}
nav {
    background-color: black;
    grid-area: nav;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    
}
main {
   
    grid-area: main;
    border : solid rgb(0, 0, 0);
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#sidebar {
   
    grid-area: sidebar;
    border : solid rgb(0, 0, 0);
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content1 {

    grid-area: content1;
    border : solid rgb(0, 0, 0);
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content2 {
   
    grid-area: content2;
    border : solid rgb(0, 0, 0);

    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content3 {
     grid-area: content3;
    border : solid rgb(0, 0, 0);

    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#footer {
   
    grid-area: footer;
    border : solid rgb(0, 0, 0);

    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
