body {
    background-color: #000000;
   
}
nav {
    position: fixed;
    width : 100%;
    opacity: 1;
    background-color: #000000;
}
.container {
    padding-top: 300px;
}
:root {
    --main-radius:5px;
    --main-padding:5px;
}
.menu ul li{
    display: inline;
}
.menu ul {
    list-style-type: circle;
    padding: 2px;
    margin: 2px;
    text-align: center;
}
.menu {
    padding: 20px;
}
.menu ul li a{
    display: inline-flex;
   text-decoration: none;
   text-shadow: 0px 1px 3px #000000;
   color: rgba(51, 252, 81, 0.942);
   padding: 5px 20px; 
   font-family:'Courier New', Courier, monospace;
}
.menu li a{
    transition: 0.3s;
    opacity: 0.7;
}
.menu li a:hover {
    opacity: 1;
}
.active {
    opacity: 1;
    background-color :rgb(0, 0, 0)
}
.container {
    color :rgba(51, 252, 81, 0.942);
    text-shadow:
    0 0 7px rgb(190, 254, 194),
    0 0 122px rgb(173, 236, 175);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    box-sizing: border-box;
}

p {
    font-size: 12;
    font-weight: 400;
    font : 'Calibri';
    padding : 1%;  
}

h2 {
    padding: 1%;
}
nav {
    display: inline-flex;
    flex-flow: row-wrap;
    grid-area: nav;
    justify-content: stretch;
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
    border :rgb(122, 255, 239) solid 1px;
    position: fixed; /* Need to be resolve*/
}

main {
   
    grid-area: main;
    border : solid rgb(122, 255, 239);
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#sidebar {
   
    grid-area: sidebar;
    border : solid rgb(122, 255, 239);
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content1 {

    grid-area: content1;
    border : solid  rgb(122, 255, 239);
    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content2 {
   
    grid-area: content2;
    border : solid  rgb(122, 255, 239);

    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#content3 {
     grid-area: content3;
    border : solid  rgb(122, 255, 239);

    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
#footer {
   
    grid-area: footer;
    border : solid rgb(122, 255, 239);

    border-radius:var(--main-radius);
    padding-top:var(--main-padding);
}
img {
    width: 100%;
    max-width: 800px;
    height: auto;
  }
